/* Style for everything */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style for the first section (nav & area 1) of the webpage */
.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

}


/* Style for the navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;

}

.navbar img {
  width: 50px;
}

.navbar .logo{
  width: 50px;
  padding-top: 10px;
}

.navbar-links ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links ul:first-child{
  margin-right: auto;
}

.navbar-links a{
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
}

/* Style for area 1  */

.area-1 {
  display: flex;
  gap: 50px;
  align-items: center;
  color: #F9FAF8;
  max-width: 1000px;
  margin-bottom: 50px;
}

.area-1 img {
  display: flex;
  width: 480px;
  border: transparent;
  border-radius: 50px;
  flex: 1;
}

.area-1 .title {
  font-size: 48px;
  /* margin-bottom: 20px; */
}

.area-1 p {
  padding-bottom: 20px;
} 

.area-1 .text{
  flex-wrap: wrap;
}

.area-1 .sign-up {
  color: white;
  background-color: #3882F6;
  padding: 5px 25px;
  border: transparent;
  border-radius: 5px;
  text-decoration: none;
}